# Laravel
/vendor
/node_modules

# Composer
composer.lock

# Laravel environment variables
.env
.env.backup

# Laravel cached files
/storage/*.key
/storage/app/public
/storage/framework/sessions
/storage/framework/views
/storage/framework/cache

# Laravel logs
/storage/logs
/public/hot
/public/storage
/public/mix-manifest.json

# IDEs and editors
.idea
.vscode
*.sublime-workspace

# OS specific files
.DS_Store
Thumbs.db

# Other files
npm-debug.log
yarn-error.log
# Ignorer le dossier .history de VSCode ou autres extensions
.history
